.menu-icon {
    display: inline-block;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 5px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

#my-list ul {
  padding-left: 0;
  margin-top: 15px;

}



#my-list li{
  display: inline;
  margin-left: 40px;
  color: #eadfc8;
}

#my-list li:hover{
  color: white;
}

#profile-name {
  flex-grow: 0;
  padding: 10px;
  background-color: #90AFC5;
  text-align: right;
  border-radius: 4px;
}

#profile-name:hover {
  padding: 10px;
  background-color: #90AFC5;
  color: white;
}

#profile {
  padding-right: 20px;
  margin-top: 5px;
  flex-grow: 1;
  display: flex;
  flex-flow: row-reverse;

  #profile-info {
    z-index: 2;
    display: flex;
    flex-flow: column;

    ul {
      background-color: red;
      list-style: none;
      padding-left: 0;
      text-align: center;
      padding: 10px;
      display: none;
      border-radius: 4px;

      progress {
        width: 60px;
      }

    }
  }

}
