@import "../layout/layout";

#products-list {
  width: 100vw;
  display: flex;

  ul {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
  }

  li {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    margin: 10px;

    .product {
      // border: 1px solid black;
      margin: 10px;
      position: relative;
      background-color: white;
      width: 300px;
      height: 400px;

      img {
        width: 300px;
        height: 200px;
      }

      .info {
        text-align: center;

        div {
          margin: 10px !important;
          font-size: 10px;
        }

        .type, .name, .time {
          font-size: 20px;
          color: black;
        }

      }

      .description {
        visibility:hidden;
        position: absolute;
        top: 20%;
        text-align: center;
        width: 100%;
      }

      .zoom-product {
        visibility: hidden;
      }
    }

  }

}
