$primary-color: #fffbd0;
$header-footer-height: 50px;

#header {
  background-color: $primary-color;
  top: 0;
  height: $header-footer-height;
  width: auto;
}

#main {
  flex: 1;
  display: flex;
  flex-flow: row;
}

#dashboard {
  background-color: pink;
  margin-left: -300px;
  position: relative;
  width: 300px;
}

#content {
  background-color: red;
  display: flex;
  // min-height: 100vh;
  flex-flow: column;
  flex-grow: 1;
}

#footer {
  background-color: $primary-color;
  position: relative;
  bottom: 0;
  width: auto;
  height: $header-footer-height;
  clear: left;
  width: 100%;
}
